/* I used w3schools to help with this code */
/* Adding a background to the topnav bar */
.topnav {
	background-color: #E3E2DF;
	overflow: hidden;
	margin-top: 30px;
}
	
/* Style the links inside the navigation bar */	
.topnav a {
	float: left;
	color: #9A1750;
	text-align: center;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 25px;
	font-family: Times;
			
}

/* Change the color of links on hover */
.topnav a:hover {
	 
	background-color: #E3AFBC;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #E3AFBC;
	color: black;
}

/* styling website background */
body {
	background-color: #E3E2DF;	
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: #9A1750;
  padding: 6px 8px 6px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E3AFBC;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #E3E2DF;
  color: #9A1750;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* I used w3schools to help with this code */
/* Adding a background to the sidenav bar */
.sidenav {
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 250px;
	left: 10px;
	background: #E3E2DF;
	overflow-x: hidden;
	padding: 8px 0;
}

/* Style the links inside the navigation bar */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #9A1750;
	display: block;
	text-align: center;
	
}

/* Change the color of links on hover */
.sidenav a:hover {
 	background-color: #E3AFBC;
	color: black;
}

/* Adds a color to the active/current link */
.sidenav a.active {
	background-color: #E3AFBC;
	color: black;
}

/* styling for main body */
.main {
	margin-left: 250px; /* Same width as the sidebar + left position in px */
	float: center;
	padding: 0px 20px;
	text-align: center;
	display: inline-block;
}	

/* Primary education div styling */
#primary {
	float: center;
	text-align: center;

}
/* styling the primary education paragraph */
#pschool-para {
	font-size: 20px;
	text-align:left;
}

/* styling the primary education paragraph title */
#pschool-title {
	font-size: 25px;
	color: #9A1750;
	text-align: left;
}

/* primary school image styling */
#pschool-pic {
	width: 50%;
	text-align: center;
	border-radius: 8px;
	border: thick solid #9A1750;
}

/* Secondary education div styling */
#secondary {
	float: center;
	text-align: center;

}
/* styling the secondary education paragraph */
#sschool-para {
	font-size: 20px;
	text-align:left;
}

/* styling the secondary education paragraph title */
#sschool-title {
	font-size: 25px;
	color: #9A1750;
	text-align: left;
}

/* secondary school image styling */
#sschool-pic {
	width: 50%;
	text-align: center;
	border-radius: 8px;
	border: thick solid #9A1750;
}

/* college div styling */
#college {
	float: center;
	text-align: center;
}
/* styling the college paragraph */
#college-para {
	font-size: 20px;
	text-align:left;
}

/* styling the college paragraph title */
#college-title {
	font-size: 25px;
	color: #9A1750;
	text-align: left;
}

/* college image styling */
#college-pic {
	width: 50%;
	text-align: center;
	border-radius: 8px;
	border: thick solid #9A1750;
}