
/* Adding a background to the topnav bar */
.topnav {
	background-color: #E3E2DF;
	overflow: hidden;
	margin-top: 30px;
}
	
/* Style the links inside the navigation bar */	
.topnav a {
	float: left;
	color: #9A1750;
	text-align: center;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 25px;
	font-family: Times;
			
}

/* Change the color of links on hover */
.topnav a:hover {
	 
	background-color: #E3AFBC;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #E3AFBC;
	color: black;
}

/* styling website background */
body {
	background-color: #E3E2DF;	
}

/* Adding a background to the sidenav bar */
.sidenav {
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 250px;
	left: 10px;
	background: #E3E2DF;
	overflow-x: hidden;
	padding: 8px 0;
}

/* Style the links inside the navigation bar */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #9A1750;
	display: block;
	text-align: center;
	
}

/* Change the color of links on hover */
.sidenav a:hover {
 	background-color: #E3AFBC;
	color: black;
}

/* Adds a color to the active/current link */
.sidenav a.active {
	background-color: #E3AFBC;
	color: black;
}

/* styling for main body */
.main {
	margin-left: 250px; /* Same width as the sidebar + left position in px */
	float: center;
	padding: 0px 20px;
	text-align: center;
	display: inline-block;
}	

/* Primary education div styling */
#primary {
	float: center;
	text-align: center;

}
/* styling the primary education paragraph */
#pschool-para {
	font-size: 20px;
	text-align:left;
}

/* styling the primary education paragraph title */
#pschool-title {
	font-size: 25px;
	color: #9A1750;
	text-align: left;
}

/* primary school image styling */
#pschool-pic {
	width: 50%;
	text-align: center;
	border-radius: 8px;
}

/* Secondary education div styling */
#secondary {
	float: center;
	text-align: center;

}
/* styling the secondary education paragraph */
#sschool-para {
	font-size: 20px;
	text-align:left;
}

/* styling the secondary education paragraph title */
#sschool-title {
	font-size: 25px;
	color: #9A1750;
	text-align: left;
}

/* secondary school image styling */
#sschool-pic {
	width: 50%;
	text-align: center;
	border-radius: 8px;
}

/* college div styling */
#college {
	float: center;
	text-align: center;
}
/* styling the college paragraph */
#college-para {
	font-size: 20px;
	text-align:left;
}

/* styling the college paragraph title */
#college-title {
	font-size: 25px;
	color: #9A1750;
	text-align: left;
}

/* college image styling */
#college-pic {
	width: 50%;
	text-align: center;
	border-radius: 8px;
}